body {
    background-image: url("assets/logbg.webp");
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background in place during scrolling */
    font-family: 'Space Grotesk', sans-serif; /* Ensures your font remains consistent */
}
.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #444;
    cursor: pointer;
}
.google-btn img {
    width: 20px;
}